/**
 * Grid breakpoints
 */
/**
 * Colours
 *
 * Based on the OCHA colour palette, see https://www.unocha.org/sites/unocha/files/dms/Documents/GraphicsStyleBook_for_public.pdf
 */
/**
 * Font sizes
 */
/**
 * Fonts
 */
/**
 * Measurements
 */
/**
 * Z-indexes
 *
 * Usage: z-index: map-get($zindex, dropdown);
 */
/**
 * Clearfix  mixin
 *
 * Usage:
 * .my-class {
 *   @include clearfix;
 * }
 *
 * Results in:
 * .my-class {
 *    &:after {
 *     content: " ";
 *     display: table;
 *     clear: both;
 *   }
 * }
 *
 */
/**
 * Font size mixin
 *
 * Converts pixel size to rems with pixel fallback.
 *
 * Requires the $base-font-size variable to be set for the project, this should be the body font size.
 *
 * Usage:
 * @include font-size(14);
 *
 * Results in (with a $base-font-size of 18):
 * font-size: 14px;
 * font-size: 0.77777778rem
 *
 */
/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(sm) {
 *   // content
 * }
 *
 * Results in:
 * @media min-width: 1200px {
 *   // content
 * }
 *
 */
/**
 * CSS reset
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Base styles
 */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box; }

html, input {
  font-size: 100%; }

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  color: #595959;
  line-height: 1.5; }
  body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%;
  height: auto; }

u {
  text-decoration: none;
  font-weight: bold; }

@media print {
  #toolbar {
    display: none !important; } }

html {
  background: #F2F2F2;
  margin: 0;
  margin-left: calc(100vw - 100%);
  padding: 0; }

body {
  margin: 0 auto;
  padding: 0;
  background: white;
  max-width: 1400px; }

.page-wrapper {
  min-height: calc(100vh - 280px); }

.container {
  padding: 0 8px;
  margin: 0 auto;
  max-width: 1220px; }

@media (min-width: 768px) {
  html {
    padding: 0 8px; }
  .page-wrapper {
    min-height: calc(100vh - 230px); }
  .container {
    padding: 0 16px; } }

@media (min-width: 1200px) {
  .container {
    padding: 0 40px; } }

/**
 * Grid system
 *
 * Generate semantic grid columns with these mixins.
 * Adapted from Bootstrap v4 https://github.com/twbs/bootstrap/tree/v4-dev/scss
 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1220px;
  padding-left: 16px;
  padding-right: 16px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 1200px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

.row {
  margin-right: -16px;
  margin-left: -16px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xs-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xs-3 {
    float: left;
    width: 25%; }
  .col-xs-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xs-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xs-6 {
    float: left;
    width: 50%; }
  .col-xs-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xs-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xs-9 {
    float: left;
    width: 75%; }
  .col-xs-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xs-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xs-12 {
    float: left;
    width: 100%; }
  .pull-xs-0 {
    right: auto; }
  .pull-xs-1 {
    right: 8.3333333333%; }
  .pull-xs-2 {
    right: 16.6666666667%; }
  .pull-xs-3 {
    right: 25%; }
  .pull-xs-4 {
    right: 33.3333333333%; }
  .pull-xs-5 {
    right: 41.6666666667%; }
  .pull-xs-6 {
    right: 50%; }
  .pull-xs-7 {
    right: 58.3333333333%; }
  .pull-xs-8 {
    right: 66.6666666667%; }
  .pull-xs-9 {
    right: 75%; }
  .pull-xs-10 {
    right: 83.3333333333%; }
  .pull-xs-11 {
    right: 91.6666666667%; }
  .pull-xs-12 {
    right: 100%; }
  .push-xs-0 {
    left: auto; }
  .push-xs-1 {
    left: 8.3333333333%; }
  .push-xs-2 {
    left: 16.6666666667%; }
  .push-xs-3 {
    left: 25%; }
  .push-xs-4 {
    left: 33.3333333333%; }
  .push-xs-5 {
    left: 41.6666666667%; }
  .push-xs-6 {
    left: 50%; }
  .push-xs-7 {
    left: 58.3333333333%; }
  .push-xs-8 {
    left: 66.6666666667%; }
  .push-xs-9 {
    left: 75%; }
  .push-xs-10 {
    left: 83.3333333333%; }
  .push-xs-11 {
    left: 91.6666666667%; }
  .push-xs-12 {
    left: 100%; }
  .offset-xs-1 {
    margin-left: 8.3333333333%; }
  .offset-xs-2 {
    margin-left: 16.6666666667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.3333333333%; }
  .offset-xs-5 {
    margin-left: 41.6666666667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.3333333333%; }
  .offset-xs-8 {
    margin-left: 66.6666666667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.3333333333%; }
  .offset-xs-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 8.3333333333%; }
  .col-sm-2 {
    float: left;
    width: 16.6666666667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.3333333333%; }
  .col-sm-5 {
    float: left;
    width: 41.6666666667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.3333333333%; }
  .col-sm-8 {
    float: left;
    width: 66.6666666667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.3333333333%; }
  .col-sm-11 {
    float: left;
    width: 91.6666666667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.3333333333%; }
  .pull-sm-2 {
    right: 16.6666666667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.3333333333%; }
  .pull-sm-5 {
    right: 41.6666666667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.3333333333%; }
  .pull-sm-8 {
    right: 66.6666666667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.3333333333%; }
  .pull-sm-11 {
    right: 91.6666666667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.3333333333%; }
  .push-sm-2 {
    left: 16.6666666667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.3333333333%; }
  .push-sm-5 {
    left: 41.6666666667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.3333333333%; }
  .push-sm-8 {
    left: 66.6666666667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.3333333333%; }
  .push-sm-11 {
    left: 91.6666666667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .offset-sm-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.3333333333%; }
  .col-md-2 {
    float: left;
    width: 16.6666666667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.3333333333%; }
  .col-md-5 {
    float: left;
    width: 41.6666666667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.3333333333%; }
  .col-md-8 {
    float: left;
    width: 66.6666666667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.3333333333%; }
  .col-md-11 {
    float: left;
    width: 91.6666666667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.3333333333%; }
  .pull-md-2 {
    right: 16.6666666667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.3333333333%; }
  .pull-md-5 {
    right: 41.6666666667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.3333333333%; }
  .pull-md-8 {
    right: 66.6666666667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.3333333333%; }
  .pull-md-11 {
    right: 91.6666666667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.3333333333%; }
  .push-md-2 {
    left: 16.6666666667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.3333333333%; }
  .push-md-5 {
    left: 41.6666666667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.3333333333%; }
  .push-md-8 {
    left: 66.6666666667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.3333333333%; }
  .push-md-11 {
    left: 91.6666666667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.3333333333%; }
  .offset-md-2 {
    margin-left: 16.6666666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.3333333333%; }
  .offset-md-5 {
    margin-left: 41.6666666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.3333333333%; }
  .offset-md-8 {
    margin-left: 66.6666666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.3333333333%; }
  .offset-md-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1025px) {
  .col-lg-1 {
    float: left;
    width: 8.3333333333%; }
  .col-lg-2 {
    float: left;
    width: 16.6666666667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.3333333333%; }
  .col-lg-5 {
    float: left;
    width: 41.6666666667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.3333333333%; }
  .col-lg-8 {
    float: left;
    width: 66.6666666667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.3333333333%; }
  .col-lg-11 {
    float: left;
    width: 91.6666666667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.3333333333%; }
  .pull-lg-2 {
    right: 16.6666666667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.3333333333%; }
  .pull-lg-5 {
    right: 41.6666666667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.3333333333%; }
  .pull-lg-8 {
    right: 66.6666666667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.3333333333%; }
  .pull-lg-11 {
    right: 91.6666666667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.3333333333%; }
  .push-lg-2 {
    left: 16.6666666667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.3333333333%; }
  .push-lg-5 {
    left: 41.6666666667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.3333333333%; }
  .push-lg-8 {
    left: 66.6666666667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.3333333333%; }
  .push-lg-11 {
    left: 91.6666666667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .offset-lg-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xl-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xl-3 {
    float: left;
    width: 25%; }
  .col-xl-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xl-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xl-6 {
    float: left;
    width: 50%; }
  .col-xl-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xl-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xl-9 {
    float: left;
    width: 75%; }
  .col-xl-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xl-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xl-12 {
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.3333333333%; }
  .pull-xl-2 {
    right: 16.6666666667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.3333333333%; }
  .pull-xl-5 {
    right: 41.6666666667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.3333333333%; }
  .pull-xl-8 {
    right: 66.6666666667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.3333333333%; }
  .pull-xl-11 {
    right: 91.6666666667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.3333333333%; }
  .push-xl-2 {
    left: 16.6666666667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.3333333333%; }
  .push-xl-5 {
    left: 41.6666666667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.3333333333%; }
  .push-xl-8 {
    left: 66.6666666667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.3333333333%; }
  .push-xl-11 {
    left: 91.6666666667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .offset-xl-11 {
    margin-left: 91.6666666667%; } }

@media (min-width: 1400px) {
  .col-xxl-1 {
    float: left;
    width: 8.3333333333%; }
  .col-xxl-2 {
    float: left;
    width: 16.6666666667%; }
  .col-xxl-3 {
    float: left;
    width: 25%; }
  .col-xxl-4 {
    float: left;
    width: 33.3333333333%; }
  .col-xxl-5 {
    float: left;
    width: 41.6666666667%; }
  .col-xxl-6 {
    float: left;
    width: 50%; }
  .col-xxl-7 {
    float: left;
    width: 58.3333333333%; }
  .col-xxl-8 {
    float: left;
    width: 66.6666666667%; }
  .col-xxl-9 {
    float: left;
    width: 75%; }
  .col-xxl-10 {
    float: left;
    width: 83.3333333333%; }
  .col-xxl-11 {
    float: left;
    width: 91.6666666667%; }
  .col-xxl-12 {
    float: left;
    width: 100%; }
  .pull-xxl-0 {
    right: auto; }
  .pull-xxl-1 {
    right: 8.3333333333%; }
  .pull-xxl-2 {
    right: 16.6666666667%; }
  .pull-xxl-3 {
    right: 25%; }
  .pull-xxl-4 {
    right: 33.3333333333%; }
  .pull-xxl-5 {
    right: 41.6666666667%; }
  .pull-xxl-6 {
    right: 50%; }
  .pull-xxl-7 {
    right: 58.3333333333%; }
  .pull-xxl-8 {
    right: 66.6666666667%; }
  .pull-xxl-9 {
    right: 75%; }
  .pull-xxl-10 {
    right: 83.3333333333%; }
  .pull-xxl-11 {
    right: 91.6666666667%; }
  .pull-xxl-12 {
    right: 100%; }
  .push-xxl-0 {
    left: auto; }
  .push-xxl-1 {
    left: 8.3333333333%; }
  .push-xxl-2 {
    left: 16.6666666667%; }
  .push-xxl-3 {
    left: 25%; }
  .push-xxl-4 {
    left: 33.3333333333%; }
  .push-xxl-5 {
    left: 41.6666666667%; }
  .push-xxl-6 {
    left: 50%; }
  .push-xxl-7 {
    left: 58.3333333333%; }
  .push-xxl-8 {
    left: 66.6666666667%; }
  .push-xxl-9 {
    left: 75%; }
  .push-xxl-10 {
    left: 83.3333333333%; }
  .push-xxl-11 {
    left: 91.6666666667%; }
  .push-xxl-12 {
    left: 100%; }
  .offset-xxl-0 {
    margin-left: 0%; }
  .offset-xxl-1 {
    margin-left: 8.3333333333%; }
  .offset-xxl-2 {
    margin-left: 16.6666666667%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .offset-xxl-4 {
    margin-left: 33.3333333333%; }
  .offset-xxl-5 {
    margin-left: 41.6666666667%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .offset-xxl-7 {
    margin-left: 58.3333333333%; }
  .offset-xxl-8 {
    margin-left: 66.6666666667%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .offset-xxl-10 {
    margin-left: 83.3333333333%; }
  .offset-xxl-11 {
    margin-left: 91.6666666667%; } }

/**
 * Helper classes
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hidden {
  display: none; }

/**
 * Typography
 */
h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-weight: bold;
  font-family: "Open Sans", helvetica, arial, sans-serif; }

h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #026CB6;
  font-weight: normal; }

h1, h2, h3, h4, h5, p, ol, ul, dl {
  margin-bottom: 8px; }

h4, h5 {
  font-weight: 400; }

a {
  color: #002D80; }
  a:hover, a:focus {
    color: #026CB6;
    text-decoration: none; }

ol, ul {
  list-style: initial;
  margin-left: 24px; }

ol {
  list-style: decimal; }

h1, h2, h3, h4, h5 {
  color: #026CB6; }

h1.page-heading {
  padding-bottom: 12px;
  border-bottom: 1px solid #CCCCCC;
  font-weight: 300; }

h2, h3 {
  text-transform: uppercase; }

li {
  margin-bottom: 2px; }

strong {
  font-weight: 400; }

dt {
  font-weight: 400; }

dd {
  margin-bottom: 8px; }

@media (min-width: 576px) {
  h1 {
    font-size: 30px;
    font-size: 1.875rem; }
  p, ul, ol, dl {
    font-size: 16px;
    font-size: 1rem; }
  li {
    margin-bottom: 4px; }
  h2 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal; }
  h1, h2, h3, h4, h5, p, ol, ul, dl {
    margin-bottom: 16px; } }

/**
 * Button styles
 */
button, input[type="submit"] {
  -webkit-appearance: none;
  font-size: 16px;
  font-size: 1rem;
  color: #595959;
  background: none;
  border: none;
  box-shadow: none; }

.btn-primary, .form-actions input[type="submit"] {
  border-radius: 4px;
  background: #026CB6;
  text-transform: uppercase;
  color: white;
  padding: 12px;
  transition: background 0.3s ease; }
  .btn-primary:hover, .btn-primary:focus, .form-actions input[type="submit"]:hover, .form-actions input[type="submit"]:focus {
    background: #014e84; }

/**
 * Bootstrap dropdown styles
 */
.open {
  position: relative; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 200;
  display: none;
  min-width: 96px;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); }
  .open .dropdown-menu {
    display: block; }
  .dropdown-menu li {
    border-bottom: 1px solid #ccc;
    margin: 0; }
    .dropdown-menu li:last-child {
      border: none; }
    .dropdown-menu li a {
      display: block; }
    .dropdown-menu li a, .dropdown-menu li button {
      display: block;
      padding: 12px;
      text-decoration: none;
      color: #595959;
      word-break: break-word;
      transition: background 0.3s ease; }
      .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li button:hover, .dropdown-menu li button:focus {
        background: #026CB6;
        color: white; }
  .dropdown-menu button {
    border: none;
    background: none; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; }

/**
 * Footer styles
 *
 * Note:
 * The footer is a fixed height to ensure it stays at the bottom of the screen on short pages.
 * Adjust the heights in variables/_measurements.scss to fit your footer content.
 */
.footer {
  background: #026CB6;
  padding: 16px 0;
  margin-top: 16px;
  color: white;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  height: 280px; }
  .footer p {
    margin-bottom: 0; }
  .footer a, .footer a.active {
    color: white; }

.footer .menu {
  text-transform: uppercase;
  list-style: none;
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem; }
  .footer .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 12px 0 0;
    padding: 0; }
    .footer .menu li:after {
      content: "|";
      position: absolute;
      right: -10px;
      font-size: 10px;
      top: 1px;
      opacity: .8;
      color: white; }
    .footer .menu li:last-child:after {
      content: none; }
  .footer .menu a {
    text-decoration: none; }
    .footer .menu a:hover, .footer .menu a:focus {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6); }

.footer__logos ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 16px 0; }

.footer__logos li {
  max-width: 100px;
  margin: 0 8px 8px 0;
  list-style: none; }
  .footer__logos li a {
    transition: opacity 0.3s ease; }
    .footer__logos li a:hover, .footer__logos li a:focus {
      opacity: 0.8; }

.footer__small-print, .footer__small-print p {
  font-size: 12px;
  font-size: 0.75rem; }

.footer__small-print .col-md-6 + .col-md-6 {
  margin-top: 8px; }

@media (min-width: 768px) {
  .footer {
    padding: 40px 0;
    height: 230px; }
  .footer .menu {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 32px; }
    .footer .menu li {
      margin-right: 56px; }
      .footer .menu li:after {
        right: -33px;
        font-size: 12px; }
  .footer__logos ul {
    margin-bottom: 32px; }
  .footer__logos li {
    max-width: 140px;
    margin: 0 16px 0 0; }
  .footer__small-print .col-md-6 + .col-md-6 {
    text-align: right;
    margin-top: 0; } }

@media print {
  .footer {
    display: none !important; } }

/**
 * Form styles
 */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
textarea {
  font-size: 16px;
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #ccc;
  max-width: 100%;
  color: #595959; }

label {
  font-weight: bold;
  display: block; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: #BF0013; }

/**
 * Icons styles
 * See readme for info
 */
@font-face {
  font-family: 'unocha-icons';
  src: url("../icons/unocha-icons.eot?jb5mn9");
  src: url("../icons/unocha-icons.eot?jb5mn9#iefix") format("embedded-opentype"), url("../icons/unocha-icons.ttf?jb5mn9") format("truetype"), url("../icons/unocha-icons.woff?jb5mn9") format("woff"), url("../icons/unocha-icons.svg?jb5mn9#unocha-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'unocha-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e958"; }

.icon-search:before {
  content: "\e919"; }

/**
 * Skip link styles
 */
a.skip-link {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  font-size: 12px;
  font-size: 0.75rem; }
  a.skip-link:focus {
    height: auto;
    position: static;
    clip: auto;
    overflow: visible; }

/**
 * Table styles
 *
 * Add the class 'table-responsive', plus data-attributes for headings, to make a table responsive.
 */
table {
  width: 100%;
  margin-bottom: 8px; }
  table th, table td {
    padding: 8px;
    background: #F2F2F2;
    border-bottom: 1px solid white; }
  table th {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    color: #026CB6;
    text-transform: uppercase;
    text-align: left; }

.table-responsive th {
  display: none; }

.table-responsive td {
  display: block;
  width: 100%; }

.table-responsive td:before {
  content: attr(data-content);
  font-weight: bold;
  display: block; }

.table-responsive td:last-child {
  margin-bottom: 8px; }

tr.odd, tr.even {
  background: none; }

@media (min-width: 768px) {
  table {
    margin-bottom: 24px; }
  .table-responsive th, .table-responsive td {
    display: table-cell;
    width: auto; }
    .table-responsive th:before, .table-responsive td:before {
      content: none; }
    .table-responsive th:last-child, .table-responsive td:last-child {
      margin-bottom: 0; } }

/**
 * Common Header Global Header styles
 */
.cd-global-header {
  background: #026CB6;
  color: white; }
  .cd-global-header .dropdown-menu {
    border: none;
    background: #026CB6; }
    .cd-global-header .dropdown-menu a {
      color: white; }
      .cd-global-header .dropdown-menu a:hover, .cd-global-header .dropdown-menu a:focus {
        background: #002D80; }
    .cd-global-header .dropdown-menu li {
      border-color: rgba(255, 255, 255, 0.7); }

.cd-global-header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px; }
  .no-flexbox .cd-global-header__inner:after {
    content: "";
    display: table;
    clear: both; }

.cd-global-header__sites {
  position: relative;
  margin-left: -8px;
  margin-right: auto; }
  .no-flexbox .cd-global-header__sites {
    float: left; }
  .cd-global-header__sites .dropdown-menu {
    min-width: 236px; }

.cd-global-header__sites-btn {
  color: white;
  text-transform: uppercase;
  text-align: left;
  padding: 0 8px;
  height: 40px;
  font-size: 12px;
  font-size: 0.75rem; }
  .cd-global-header__sites-btn:hover, .cd-global-header__sites-btn:focus {
    background: #014e84;
    outline: none; }

.cd-global-header__nav {
  margin-right: -8px; }
  .no-flexbox .cd-global-header__nav {
    float: right; }

@media (min-width: 576px) {
  .cd-global-header__sites {
    margin-left: 0; }
  .cd-global-header__sites-btn {
    font-size: 14px;
    font-size: 0.875rem; }
  .cd-global-header__nav {
    margin-right: 0; } }

/**
 * Common Header styles
 */
.cd-header {
  margin-bottom: 16px; }
  .cd-header button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    cursor: pointer; }
  .cd-header ul {
    list-style: none;
    margin: 0; }
  .cd-header .container:after {
    content: none; }
  .cd-header h1 {
    margin: 0; }
  .cd-header .region h2 {
    display: none; }
  .cd-header li.leaf {
    padding: 0; }
  .cd-header .menu li {
    margin: 0; }

@media (min-width: 768px) {
  .cd-header {
    margin-bottom: 24px; } }

@media print {
  .cd-global-header, .cd-site-header__search, .cd-nav {
    display: none !important; }
  .cd-site-header__logo {
    width: auto !important;
    height: auto !important;
    text-decoration: none;
    font-weight: bold; }
    .cd-site-header__logo .sr-only {
      position: relative;
      width: auto;
      height: auto; } }

/**
 * Common Header Navigation styles
 */
.cd-header .menu li {
  position: relative;
  list-style: none; }
  .cd-header .menu li:last-child a:before {
    content: none; }

.cd-header .menu .dropdown-menu {
  left: auto;
  right: 0;
  min-width: 120px; }

.cd-header .menu a {
  display: block;
  line-height: 1;
  padding: 0 8px;
  text-decoration: none;
  position: relative; }
  .cd-header .menu a:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    right: -1px;
    top: 2px;
    height: 12px;
    z-index: 1; }

.cd-site-header__nav .menu li {
  text-transform: uppercase; }

.cd-site-header__nav .menu a {
  color: #026CB6;
  height: 48px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .cd-site-header__nav .menu a:before {
    content: none; }
  .cd-site-header__nav .menu a:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease; }
  .cd-site-header__nav .menu a:hover, .cd-site-header__nav .menu a:focus {
    background: #F2F2F2;
    outline: none;
    color: #026CB6; }
    .cd-site-header__nav .menu a:hover:after, .cd-site-header__nav .menu a:focus:after {
      border-color: #0898fc; }
  .cd-site-header__nav .menu a.active {
    font-weight: bold; }
    .cd-site-header__nav .menu a.active:after {
      border-color: #0898fc; }

.cd-global-header__nav {
  margin-left: auto; }
  .cd-global-header__nav .menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .cd-global-header__nav .menu li {
      display: inline-block; }
      .cd-global-header__nav .menu li:last-child a:before {
        content: none; }
    .cd-global-header__nav .menu a {
      color: white;
      height: 40px;
      padding: 14px 8px;
      font-size: 12px;
      font-size: 0.75rem; }
      .cd-global-header__nav .menu a:before {
        background: white;
        top: 16px;
        height: 10px;
        opacity: 0.6; }
      .cd-global-header__nav .menu a:hover, .cd-global-header__nav .menu a:focus {
        outline: none;
        background: #014e84; }
      .cd-global-header__nav .menu a.active {
        color: white; }

@media (min-width: 576px) {
  .cd-global-header__nav .menu a {
    font-size: 14px;
    font-size: 0.875rem; } }

@media (min-width: 768px) {
  .no-flexbox .cd-global-header__nav .menu {
    float: right; }
  .cd-global-header__nav .menu a {
    font-size: 16px;
    font-size: 1rem;
    padding: 12px 8px; }
    .cd-global-header__nav .menu a:before {
      top: 14px;
      height: 12px; }
  .cd-header .menu li .dropdown-menu {
    min-width: 0; } }

@media (min-width: 1025px) {
  .cd-header .menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .cd-header .menu li {
      display: inline-block;
      border: none; }
  .cd-site-header__nav .menu a {
    height: 60px; }
    .cd-site-header__nav .menu a:hover, .cd-site-header__nav .menu a:focus {
      text-decoration: none;
      color: #026CB6; }
    .cd-site-header__nav .menu a:before {
      content: "";
      top: 50%;
      margin-top: -6px;
      background: #026CB6; }
    .no-flexbox .cd-site-header__nav .menu a {
      display: block;
      padding-top: 24px; } }

@media (min-width: 1200px) {
  .cd-header .menu a {
    padding: 0 16px;
    font-size: 16px;
    font-size: 1rem; }
  .cd-site-header__nav .menu a {
    padding: 0 16px; }
  .cd-global-header__nav .menu a {
    padding: 12px 16px; } }

/**
 * Common Header Search styles
 */
.cd-site-header__search {
  height: 100%;
  min-width: 180px;
  margin-right: auto; }
  .no-flexbox .cd-site-header__search {
    float: left; }
  .cd-site-header__search form {
    position: relative; }
    .no-svg .cd-site-header__search form label {
      position: absolute;
      left: -999999px; }
  .cd-site-header__search .form-item {
    display: block;
    margin: 0; }
  .cd-site-header__search input[type="search"] {
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: none;
    box-shadow: none;
    -webkit-appearance: none;
    font-size: 16px;
    font-size: 1rem;
    padding: 12px 12px 12px 28px;
    width: 96%;
    height: 50px;
    background: transparent;
    transition: background 0.3s ease, border 0.3s ease;
    color: #595959; }
    .cd-site-header__search input[type="search"]:focus {
      outline: none;
      background: #F2F2F2;
      border-color: #0898fc; }
    .no-svg .cd-site-header__search input[type="search"] {
      border: 1px solid #CCCCCC; }
  .cd-site-header__search .form-actions {
    margin: 0;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px; }
  .cd-site-header__search ::-webkit-input-placeholder {
    color: #595959;
    font-style: italic;
    font-weight: 300; }
  .cd-site-header__search ::-moz-placeholder {
    color: #595959;
    font-style: italic;
    font-weight: 300; }
  .cd-site-header__search :-ms-input-placeholder {
    color: #595959;
    font-style: italic;
    font-weight: 300; }
  .cd-site-header__search :-moz-placeholder {
    color: #595959;
    font-style: italic;
    font-weight: 300; }

.cd-header-search__button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0; }
  .cd-header-search__button:focus {
    outline: none;
    background: #026CB6; }
    .cd-header-search__button:focus:before {
      color: white; }
  .cd-header-search__button:before {
    content: "\e919";
    font-family: 'unocha-icons';
    font-size: 18px;
    font-weight: bold;
    color: #026CB6; }

@media (min-width: 768px) {
  .cd-site-header__search {
    min-width: 300px; }
    .cd-site-header__search input[type="search"] {
      height: 62px; }
    .no-flexbox .cd-site-header__search {
      height: 60px; } }

/**
 * Common Header Site Header styles
 */
.cd-site-header {
  border-bottom: 2px solid #F2F2F2; }

.cd-site-header__inner {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 48px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cd-site-header__logo {
  display: block;
  height: 48px;
  width: 48px;
  position: relative;
  background: url("../images/ocha-logo-mobile.svg") left center no-repeat;
  background-size: auto 100%;
  margin-right: 8px; }
  .no-flexbox .cd-site-header__logo {
    float: left; }
  .no-svg .cd-site-header__logo {
    background: url("../images/ocha-logo-mobile.png") left center no-repeat; }
  .cd-site-header__logo:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease; }
  .cd-site-header__logo:hover:after, .cd-site-header__logo:focus:after, .cd-site-header__logo.active:after {
    border-color: #0898fc; }
  .cd-site-header__logo:focus {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: #CCCCCC; }
  .no-mediaqueries .cd-site-header__logo {
    width: 240px; }

.dropdown-menu.cd-site-header__nav {
  top: 48px;
  width: 100%;
  min-width: 0;
  right: -16px;
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 8px; }

.cd-site-header__nav-toggle {
  width: 40px;
  height: 32px;
  padding: 4px;
  position: relative;
  margin-right: -8px; }
  .cd-site-header__nav-toggle:focus {
    outline: none;
    background: #026CB6; }
    .cd-site-header__nav-toggle:focus .icon-bar {
      background: white; }
  .cd-site-header__nav-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    background: #026CB6;
    margin: 0 auto; }
    .cd-site-header__nav-toggle .icon-bar + .icon-bar {
      margin-top: 4px; }

@media (min-width: 576px) {
  .cd-site-header__logo {
    background: url("../images/ocha-logo.svg") left center no-repeat;
    width: 135px;
    margin-right: 24px;
    background-size: auto 100%; }
    .no-svg .cd-site-header__logo {
      background: url("../images/ocha-logo.png") left center no-repeat; } }

@media (min-width: 768px) {
  .cd-site-header__logo {
    width: 167px;
    height: 60px; }
  .cd-site-header__inner {
    height: 60px; }
  .dropdown-menu.cd-site-header__nav {
    top: 60px; } }

@media (min-width: 1025px) {
  .cd-site-header__nav-toggle {
    display: none; }
  .dropdown-menu.cd-site-header__nav {
    display: block;
    position: relative;
    box-shadow: none;
    top: auto;
    right: auto;
    width: auto;
    max-width: none;
    background: none;
    padding: 0; }
    .no-flexbox .dropdown-menu.cd-site-header__nav {
      float: right; } }
