/**
 * Grid breakpoints
 */
/**
 * Colours
 *
 * Based on the OCHA colour palette, see https://www.unocha.org/sites/unocha/files/dms/Documents/GraphicsStyleBook_for_public.pdf
 */
/**
 * Font sizes
 */
/**
 * Fonts
 */
/**
 * Measurements
 */
/**
 * Z-indexes
 *
 * Usage: z-index: map-get($zindex, dropdown);
 */
/**
 * Clearfix  mixin
 *
 * Usage:
 * .my-class {
 *   @include clearfix;
 * }
 *
 * Results in:
 * .my-class {
 *    &:after {
 *     content: " ";
 *     display: table;
 *     clear: both;
 *   }
 * }
 *
 */
/**
 * Font size mixin
 *
 * Converts pixel size to rems with pixel fallback.
 *
 * Requires the $base-font-size variable to be set for the project, this should be the body font size.
 *
 * Usage:
 * @include font-size(14);
 *
 * Results in (with a $base-font-size of 18):
 * font-size: 14px;
 * font-size: 0.77777778rem
 *
 */
/**
 * Hide content offscreen accessibly.
 */
/**
 * Un-hide content.
 */
/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(sm) {
 *   // content
 * }
 *
 * Results in:
 * @media min-width: 1200px {
 *   // content
 * }
 *
 */
/**
 * CSS reset
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Base styles
 */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box; }

html, input {
  font-size: 100%; }

body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #4A4A4A;
  line-height: 1.5; }
  body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%;
  height: auto; }

u {
  text-decoration: none;
  font-weight: bold; }

@media print {
  #toolbar {
    display: none !important; } }

/**
 * Grid system
 *
 * Generate semantic grid columns with these mixins.
 * Adapted from Bootstrap v4 https://github.com/twbs/bootstrap/tree/v4-dev/scss
 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1220px;
  padding-left: 16px;
  padding-right: 16px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 1200px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

.row {
  margin-right: -16px;
  margin-left: -16px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.33333%; }
  .col-xs-2 {
    float: left;
    width: 16.66667%; }
  .col-xs-3 {
    float: left;
    width: 25%; }
  .col-xs-4 {
    float: left;
    width: 33.33333%; }
  .col-xs-5 {
    float: left;
    width: 41.66667%; }
  .col-xs-6 {
    float: left;
    width: 50%; }
  .col-xs-7 {
    float: left;
    width: 58.33333%; }
  .col-xs-8 {
    float: left;
    width: 66.66667%; }
  .col-xs-9 {
    float: left;
    width: 75%; }
  .col-xs-10 {
    float: left;
    width: 83.33333%; }
  .col-xs-11 {
    float: left;
    width: 91.66667%; }
  .col-xs-12 {
    float: left;
    width: 100%; }
  .pull-xs-0 {
    right: auto; }
  .pull-xs-1 {
    right: 8.33333%; }
  .pull-xs-2 {
    right: 16.66667%; }
  .pull-xs-3 {
    right: 25%; }
  .pull-xs-4 {
    right: 33.33333%; }
  .pull-xs-5 {
    right: 41.66667%; }
  .pull-xs-6 {
    right: 50%; }
  .pull-xs-7 {
    right: 58.33333%; }
  .pull-xs-8 {
    right: 66.66667%; }
  .pull-xs-9 {
    right: 75%; }
  .pull-xs-10 {
    right: 83.33333%; }
  .pull-xs-11 {
    right: 91.66667%; }
  .pull-xs-12 {
    right: 100%; }
  .push-xs-0 {
    left: auto; }
  .push-xs-1 {
    left: 8.33333%; }
  .push-xs-2 {
    left: 16.66667%; }
  .push-xs-3 {
    left: 25%; }
  .push-xs-4 {
    left: 33.33333%; }
  .push-xs-5 {
    left: 41.66667%; }
  .push-xs-6 {
    left: 50%; }
  .push-xs-7 {
    left: 58.33333%; }
  .push-xs-8 {
    left: 66.66667%; }
  .push-xs-9 {
    left: 75%; }
  .push-xs-10 {
    left: 83.33333%; }
  .push-xs-11 {
    left: 91.66667%; }
  .push-xs-12 {
    left: 100%; }
  .offset-xs-1 {
    margin-left: 8.33333%; }
  .offset-xs-2 {
    margin-left: 16.66667%; }
  .offset-xs-3 {
    margin-left: 25%; }
  .offset-xs-4 {
    margin-left: 33.33333%; }
  .offset-xs-5 {
    margin-left: 41.66667%; }
  .offset-xs-6 {
    margin-left: 50%; }
  .offset-xs-7 {
    margin-left: 58.33333%; }
  .offset-xs-8 {
    margin-left: 66.66667%; }
  .offset-xs-9 {
    margin-left: 75%; }
  .offset-xs-10 {
    margin-left: 83.33333%; }
  .offset-xs-11 {
    margin-left: 91.66667%; } }

@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1024px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }
  .col-lg-2 {
    float: left;
    width: 16.66667%; }
  .col-lg-3 {
    float: left;
    width: 25%; }
  .col-lg-4 {
    float: left;
    width: 33.33333%; }
  .col-lg-5 {
    float: left;
    width: 41.66667%; }
  .col-lg-6 {
    float: left;
    width: 50%; }
  .col-lg-7 {
    float: left;
    width: 58.33333%; }
  .col-lg-8 {
    float: left;
    width: 66.66667%; }
  .col-lg-9 {
    float: left;
    width: 75%; }
  .col-lg-10 {
    float: left;
    width: 83.33333%; }
  .col-lg-11 {
    float: left;
    width: 91.66667%; }
  .col-lg-12 {
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.33333%; }
  .pull-lg-2 {
    right: 16.66667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.33333%; }
  .pull-lg-5 {
    right: 41.66667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.33333%; }
  .pull-lg-8 {
    right: 66.66667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.33333%; }
  .pull-lg-11 {
    right: 91.66667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.33333%; }
  .push-lg-2 {
    left: 16.66667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.33333%; }
  .push-lg-5 {
    left: 41.66667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.33333%; }
  .push-lg-8 {
    left: 66.66667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.33333%; }
  .push-lg-11 {
    left: 91.66667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.33333%; }
  .col-xl-2 {
    float: left;
    width: 16.66667%; }
  .col-xl-3 {
    float: left;
    width: 25%; }
  .col-xl-4 {
    float: left;
    width: 33.33333%; }
  .col-xl-5 {
    float: left;
    width: 41.66667%; }
  .col-xl-6 {
    float: left;
    width: 50%; }
  .col-xl-7 {
    float: left;
    width: 58.33333%; }
  .col-xl-8 {
    float: left;
    width: 66.66667%; }
  .col-xl-9 {
    float: left;
    width: 75%; }
  .col-xl-10 {
    float: left;
    width: 83.33333%; }
  .col-xl-11 {
    float: left;
    width: 91.66667%; }
  .col-xl-12 {
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.33333%; }
  .pull-xl-2 {
    right: 16.66667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.33333%; }
  .pull-xl-5 {
    right: 41.66667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.33333%; }
  .pull-xl-8 {
    right: 66.66667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.33333%; }
  .pull-xl-11 {
    right: 91.66667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.33333%; }
  .push-xl-2 {
    left: 16.66667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.33333%; }
  .push-xl-5 {
    left: 41.66667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.33333%; }
  .push-xl-8 {
    left: 66.66667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.33333%; }
  .push-xl-11 {
    left: 91.66667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1400px) {
  .col-xxl-1 {
    float: left;
    width: 8.33333%; }
  .col-xxl-2 {
    float: left;
    width: 16.66667%; }
  .col-xxl-3 {
    float: left;
    width: 25%; }
  .col-xxl-4 {
    float: left;
    width: 33.33333%; }
  .col-xxl-5 {
    float: left;
    width: 41.66667%; }
  .col-xxl-6 {
    float: left;
    width: 50%; }
  .col-xxl-7 {
    float: left;
    width: 58.33333%; }
  .col-xxl-8 {
    float: left;
    width: 66.66667%; }
  .col-xxl-9 {
    float: left;
    width: 75%; }
  .col-xxl-10 {
    float: left;
    width: 83.33333%; }
  .col-xxl-11 {
    float: left;
    width: 91.66667%; }
  .col-xxl-12 {
    float: left;
    width: 100%; }
  .pull-xxl-0 {
    right: auto; }
  .pull-xxl-1 {
    right: 8.33333%; }
  .pull-xxl-2 {
    right: 16.66667%; }
  .pull-xxl-3 {
    right: 25%; }
  .pull-xxl-4 {
    right: 33.33333%; }
  .pull-xxl-5 {
    right: 41.66667%; }
  .pull-xxl-6 {
    right: 50%; }
  .pull-xxl-7 {
    right: 58.33333%; }
  .pull-xxl-8 {
    right: 66.66667%; }
  .pull-xxl-9 {
    right: 75%; }
  .pull-xxl-10 {
    right: 83.33333%; }
  .pull-xxl-11 {
    right: 91.66667%; }
  .pull-xxl-12 {
    right: 100%; }
  .push-xxl-0 {
    left: auto; }
  .push-xxl-1 {
    left: 8.33333%; }
  .push-xxl-2 {
    left: 16.66667%; }
  .push-xxl-3 {
    left: 25%; }
  .push-xxl-4 {
    left: 33.33333%; }
  .push-xxl-5 {
    left: 41.66667%; }
  .push-xxl-6 {
    left: 50%; }
  .push-xxl-7 {
    left: 58.33333%; }
  .push-xxl-8 {
    left: 66.66667%; }
  .push-xxl-9 {
    left: 75%; }
  .push-xxl-10 {
    left: 83.33333%; }
  .push-xxl-11 {
    left: 91.66667%; }
  .push-xxl-12 {
    left: 100%; }
  .offset-xxl-0 {
    margin-left: 0%; }
  .offset-xxl-1 {
    margin-left: 8.33333%; }
  .offset-xxl-2 {
    margin-left: 16.66667%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .offset-xxl-4 {
    margin-left: 33.33333%; }
  .offset-xxl-5 {
    margin-left: 41.66667%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .offset-xxl-7 {
    margin-left: 58.33333%; }
  .offset-xxl-8 {
    margin-left: 66.66667%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .offset-xxl-10 {
    margin-left: 83.33333%; }
  .offset-xxl-11 {
    margin-left: 91.66667%; } }

/**
 * Helper classes
 */
.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.hidden {
  display: none; }

/**
 * Typography
 */
h1, h2, h3, h4, h5 {
  line-height: 1.2;
  font-weight: bold; }

h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #026CB6;
  font-weight: normal; }

h1, h2, h3, h4, h5, p, ol, ul, dl {
  margin-bottom: 8px; }

h4, h5 {
  font-weight: 400; }

a {
  color: #025995; }
  a:hover, a:focus {
    color: #026CB6;
    text-decoration: none; }

ol, ul {
  list-style: initial;
  margin-left: 24px; }

ol {
  list-style: decimal; }

h1, h2, h3, h4, h5 {
  color: #026CB6; }

h1.page-heading {
  padding-bottom: 12px;
  border-bottom: 1px solid #E6ECF1;
  font-weight: 300; }

h2, h3 {
  text-transform: uppercase; }

li {
  margin-bottom: 2px; }

strong {
  font-weight: 400; }

dt {
  font-weight: 400; }

dd {
  margin-bottom: 8px; }

@media (min-width: 576px) {
  h1 {
    font-size: 30px;
    font-size: 1.875rem; }
  p, ul, ol, dl {
    font-size: 16px;
    font-size: 1rem; }
  li {
    margin-bottom: 4px; }
  h2 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: normal; }
  h1, h2, h3, h4, h5, p, ol, ul, dl {
    margin-bottom: 16px; } }

/**
 * Button styles
 */
button, input[type="submit"] {
  -webkit-appearance: none;
  font-size: 16px;
  font-size: 1rem;
  color: #4A4A4A;
  background: none;
  border: none;
  box-shadow: none;
  font-family: sans-serif; }

.btn-primary, .form-actions input[type="submit"] {
  border-radius: 4px;
  background: #026CB6;
  text-transform: uppercase;
  color: white;
  padding: 12px;
  transition: background 0.3s ease; }
  .btn-primary:hover, .btn-primary:focus, .form-actions input[type="submit"]:hover, .form-actions input[type="submit"]:focus {
    background: #014e84; }

/**
 * Bootstrap dropdown styles
 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 200;
  display: none;
  min-width: 96px;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #E6ECF1;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); }
  .open .dropdown-menu {
    display: block; }
  .dropdown-menu li {
    border-bottom: 1px solid #ccc;
    margin: 0; }
    .dropdown-menu li:last-child {
      border: none; }
    .dropdown-menu li a {
      display: block; }
    .dropdown-menu li a, .dropdown-menu li button {
      display: block;
      padding: 12px;
      text-decoration: none;
      color: #4A4A4A;
      word-break: break-word;
      transition: background 0.3s ease; }
      .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li button:hover, .dropdown-menu li button:focus {
        background: #026CB6;
        color: white; }
  .dropdown-menu button {
    border: none;
    background: none; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; }

/**
 * Form styles
 */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
textarea {
  font-size: 16px;
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #ccc;
  max-width: 100%;
  color: #4A4A4A; }

label {
  font-weight: bold;
  display: block; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: #EB5C6D; }

/**
 * Icons styles
 * See readme for info
 */
@font-face {
  font-family: 'unocha-icons';
  src: url("../icons/unocha-icons.eot?jb5mn9");
  src: url("../icons/unocha-icons.eot?jb5mn9#iefix") format("embedded-opentype"), url("../icons/unocha-icons.ttf?jb5mn9") format("truetype"), url("../icons/unocha-icons.woff?jb5mn9") format("woff"), url("../icons/unocha-icons.svg?jb5mn9#unocha-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'unocha-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-creative-commons:before {
  content: "\e903"; }

.icon-twitter:before {
  content: "\e900"; }

.icon-youtube:before {
  content: "\e901"; }

.icon-facebook:before {
  content: "\e902"; }

.icon-arrow-up:before {
  content: "\e957"; }

.icon-arrow-down:before {
  content: "\e958"; }

.icon-arrow-right:before {
  content: "\e94f"; }

.icon-user:before {
  content: "\e955"; }

.icon-check:before {
  content: "\e944"; }

.icon-cancel:before {
  content: "\e94a"; }

.icon-search:before {
  content: "\e919"; }

/**
 * Skip link styles
 */
a.skip-link {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  font-size: 12px;
  font-size: 0.75rem; }
  a.skip-link:focus {
    height: auto;
    position: static;
    clip: auto;
    overflow: visible; }

/**
 * Table styles
 *
 * Add the class 'table-responsive', plus data-attributes for headings, to make a table responsive.
 */
table {
  width: 100%;
  margin-bottom: 8px; }
  table th, table td {
    padding: 8px;
    background: #F2F5F8;
    border-bottom: 1px solid white; }
  table th {
    color: #026CB6;
    text-transform: uppercase;
    text-align: left; }

.table-responsive th {
  display: none; }

.table-responsive td {
  display: block;
  width: 100%; }

.table-responsive td:before {
  content: attr(data-content);
  font-weight: bold;
  display: block; }

.table-responsive td:last-child {
  margin-bottom: 8px; }

tr.odd, tr.even {
  background: none; }

@media (min-width: 768px) {
  table {
    margin-bottom: 24px; }
  .table-responsive th, .table-responsive td {
    display: table-cell;
    width: auto; }
    .table-responsive th:before, .table-responsive td:before {
      content: none; }
    .table-responsive th:last-child, .table-responsive td:last-child {
      margin-bottom: 0; } }

/**
 * Common Design Footer copyright section.
 */
.cd-footer-copyright p {
  margin: 0; }

.cd-footer-copyright a:hover, .cd-footer-copyright a:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFF;
  text-decoration-color: #FFF; }

.cd-footer-copyright__icon {
  display: block;
  font-size: 38px;
  margin: 16px auto 0 auto; }

@media (min-width: 768px) {
  .cd-footer-copyright {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right; }
  .cd-footer-copyright__message {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    max-width: 350px; }
    .no-cssgridlegacy.no-cssgrid .cd-footer-copyright__message {
      max-width: none;
      padding-top: 48px;
      text-align: left; }
  .cd-footer-copyright__text {
    display: inline-block;
    max-width: 100%;
    -webkit-flex-shrink: 1;
    flex-shrink: 1; }
  .cd-footer-copyright__icon {
    margin: 0 0 0 20px; }
    .no-cssgridlegacy.no-cssgrid .cd-footer-copyright__icon {
      margin: 10px 0 0 0; } }

@media (min-width: 1024px) {
  .cd-footer-copyright {
    -ms-grid-row: 3; } }

/**
 * Common Design Footer menu.
 * Used for team and project specific links plus links to legalese.
 */
.cd-footer-menu .menu {
  margin: 0;
  padding-left: 0;
  text-align: center;
  text-transform: uppercase; }
  .cd-footer-menu .menu li {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0; }
    .cd-footer-menu .menu li:last-child {
      margin-bottom: 0; }
  .cd-footer-menu .menu a {
    color: white; }

@media (min-width: 768px) {
  .cd-footer-menu {
    grid-column: 1/3;
    -ms-grid-column-span: 3; }
    .cd-footer-menu .menu li {
      display: inline-block;
      margin: 0 16px; } }

@media (min-width: 1024px) {
  .cd-footer-menu {
    grid-column: auto;
    text-align: left; }
    .cd-footer-menu .menu {
      text-align: left; }
      .cd-footer-menu .menu li {
        margin: 0 35px 0 0; }
        .cd-footer-menu .menu li:last-child {
          margin: 0; } }

/**
 * Common Design Footer provided by OCHA section.
 */
.cd-footer-provided-by__logo {
  background: url("../images/ocha-logo-white.svg") center no-repeat;
  display: block;
  height: 33px;
  margin: 16px auto 0 auto;
  width: 135px; }
  .no-svg .cd-footer-provided-by__logo {
    background: url("../images/ocha-logo-white.png") center no-repeat; }

@media (min-width: 768px) {
  .cd-footer-provided-by {
    -ms-grid-row: 5;
    text-align: left; }
  .cd-footer-provided-by__logo {
    margin: 16px 0 0 0; } }

@media (min-width: 1024px) {
  .cd-footer-provided-by {
    -ms-grid-row: 3; } }

/**
 * Common Design Footer social links.
 */
.cd-footer .cd-footer-social__link {
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 100%;
  display: inline-block;
  font-size: 25px;
  height: 26px;
  line-height: 0;
  margin: 0 10px;
  position: relative;
  transition: background 0.3s ease;
  width: 26px; }
  .cd-footer .cd-footer-social__link:hover, .cd-footer .cd-footer-social__link:focus {
    background: #FFF;
    border-color: #FFF;
    color: #026CB6; }

@media (min-width: 768px) {
  .cd-footer-social {
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-column-span: 3; } }

@media (min-width: 1024px) {
  .cd-footer-social {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    grid-column: auto;
    text-align: right; }
  a.cd-footer-social__link {
    margin: 0 0 0 20px; }
    a.cd-footer-social__link:first-child {
      margin: 0; } }

/**
 * Common Design Footer.
 */
.cd-footer {
  grid-row: 2/3;
  background: #026CB6;
  color: white;
  padding: 48px 0 0 0;
  text-align: center; }
  .cd-footer a {
    border-bottom: 1px solid transparent;
    color: white;
    text-decoration: none; }
    .cd-footer a:hover, .cd-footer a:focus {
      border-color: #80CBFF; }

.cd-footer__section {
  padding-bottom: 48px; }

@media (min-width: 768px) {
  .nocssgrid.no-cssgridlegacy .cd-footer {
    padding-bottom: 48px; }
  .cd-footer__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 12px 1fr;
    -ms-grid-rows: auto 48px auto 48px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    grid-row-gap: 48px; }
  .cd-footer__section {
    padding-bottom: 0; } }

/**
 * Common Design Header Dropdowns generic styles.
 */
.cd-dropdown {
  display: none; }
  .open > .cd-dropdown {
    display: block;
    z-index: 200; }

.open > [data-toggle="dropdown"] > .icon-arrow-down:before {
  content: "\e957"; }

/**
 * Dropdown styles for nested drupal menus.
 */
.cd-header .menu .expanded > .menu {
  display: none; }

.cd-header .menu .expanded > a:after,
.cd-header .menu .expanded > button:after {
  content: '\e958';
  display: inline-block;
  font-family: 'unocha-icons';
  margin-left: 4px; }

.cd-header .menu .expanded.open > .menu {
  display: block;
  z-index: 200; }

.cd-header .menu .expanded.open > a:after,
.cd-header .menu .expanded.open > button:after {
  content: '\e957'; }

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown,
.cd-user-menu .menu .menu {
  background: #026CB6;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  position: absolute; }
  .cd-global-header__dropdown a,
  .cd-user-menu .menu .menu a {
    color: white; }

.open .cd-global-header__dropdown-btn:before, .cd-global-header__dropdown-btn.open:before, .open
.cd-user-menu li:before,
.cd-user-menu li.open:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #026CB6 transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px; }

/**
 * Common Design Header Layout and generic styles.
 */
.cd-header {
  margin-bottom: 16px; }

.cd-footer {
  margin-top: 16px; }

/**
 * Global Header.
 * Top header bar, contains Sites Menu ('OCHA Services') and User Menu.
 */
.cd-global-header {
  background: #026CB6;
  background-image: linear-gradient(-180deg, #026CB6 67%, #025995 97%);
  color: white;
  height: 35px;
  position: relative; }
  .cd-global-header button {
    border: 0; }

/**
 * Site Header.
 * Bottom header bar, contains Logo, Search and Navigation.
 */
.cd-site-header {
  border-bottom: 2px solid #E6ECF1;
  color: #4A4A4A; }

.cd-site-header__inner {
  height: 60px; }

.cd-site-header__actions {
  float: right;
  margin-right: -12px; }

@media (min-width: 768px) {
  .cd-site-header__actions {
    margin-right: 0; } }

/**
 * Common Design Logo in header.
 * Replace images with your site logo.
 */
.cd-site-header h1 {
  margin: 0; }

.cd-site-logo {
  background: url("../images/ocha-logo-mobile.svg") center no-repeat;
  display: block;
  float: left;
  height: 60px;
  width: 52px; }
  .no-svg .cd-site-logo {
    background: url("../images/ocha-logo-mobile.png") center no-repeat; }

@media (min-width: 768px) {
  .cd-site-logo {
    background: url("../images/ocha-logo.svg") center no-repeat;
    width: 186px; }
    .no-svg .cd-site-logo {
      background: url("../images/ocha-logo-mobile.png") center no-repeat; } }

/**
 * Common Design Navigation in header.
 */
.cd-site-header__nav-holder {
  float: left; }

.cd-site-header__nav-toggle {
  background: transparent;
  border: 0;
  border-left: 1px solid #E6ECF1;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: 60px;
  padding: 0 20px;
  text-transform: uppercase;
  transition: background 0.3s ease; }
  .open .cd-site-header__nav-toggle {
    border: none;
    height: 20px;
    margin: 15px 12px 0 0;
    padding: 0;
    position: relative;
    z-index: 200; }
  .cd-site-header__nav-toggle:hover, .cd-site-header__nav-toggle:focus {
    background: #E6ECF1;
    outline: none; }

.open .cd-site-header__nav-label--closed {
  display: none; }

.cd-site-header__nav-label--open {
  display: none; }
  .open .cd-site-header__nav-label--open {
    display: block;
    font-size: 20px; }

.cd-nav {
  background: #E6ECF1;
  height: calc(100vh - 35px);
  max-width: 350px;
  padding: 40px 0 36px 0;
  position: absolute;
  right: 8px;
  top: 35px;
  width: 90%;
  z-index: 200; }
  .cd-nav ul {
    margin: 0; }
  .cd-nav .menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
    .cd-nav .menu li.open {
      background: #D3DDE5; }
    .cd-nav .menu li > a,
    .cd-nav .menu li > button {
      font-weight: bold;
      text-transform: uppercase; }
  .cd-nav .menu .menu a,
  .cd-nav .menu .menu button {
    color: #000;
    font-weight: normal;
    text-transform: none; }
    .cd-nav .menu .menu a:hover, .cd-nav .menu .menu a:focus,
    .cd-nav .menu .menu button:hover,
    .cd-nav .menu .menu button:focus {
      background: #c3d1dc; }
  .cd-nav .menu .menu .menu {
    padding-bottom: 5px; }
    .cd-nav .menu .menu .menu a,
    .cd-nav .menu .menu .menu button {
      padding: 10px 30px; }
  .cd-nav a,
  .cd-nav button {
    color: #4A4A4A;
    display: block;
    padding: 15px 30px;
    text-decoration: none; }
    .cd-nav a.active,
    .cd-nav button.active {
      color: #4A4A4A; }
    .cd-nav a:hover, .cd-nav a:focus,
    .cd-nav button:hover,
    .cd-nav button:focus {
      background: #D3DDE5;
      color: #000;
      outline: none; }
  .cd-nav button {
    background: none;
    border: 0;
    font-size: 12px;
    font-size: 0.75rem;
    text-align: left;
    width: 100%; }

.no-mediaqueries .cd-site-header__nav-holder {
  position: relative; }

.no-mediaqueries .cd-nav {
  right: 0;
  top: 60px;
  width: 300px; }

@media (min-width: 768px) {
  .cd-site-header__nav-toggle {
    border-right: 1px solid #E6ECF1; }
    .open .cd-site-header__nav-toggle {
      margin-right: 0; } }

@media (min-width: 1024px) {
  .cd-site-header__nav-toggle {
    display: none; }
  .cd-nav {
    background: none;
    display: block;
    height: 60px;
    max-width: none;
    padding: 0;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    z-index: 1; }
  .cd-nav .menu > li {
    border-right: 1px solid #E6ECF1;
    float: left;
    margin: 0; }
    .cd-nav .menu > li:first-child {
      border-left: 1px solid #E6ECF1; }
    .cd-nav .menu > li:last-child > .menu {
      left: auto;
      right: -1px; }
    .cd-nav .menu > li.open {
      position: relative;
      background: #E6ECF1; }
      .cd-nav .menu > li.open > a.active:before, .cd-nav .menu > li.open > a:focus:before,
      .cd-nav .menu > li.open > button.active:before,
      .cd-nav .menu > li.open > button:focus:before {
        background: transparent; }
    .cd-nav .menu > li > a,
    .cd-nav .menu > li > button {
      -webkit-align-items: center;
      align-items: center;
      background: transparent;
      display: -webkit-flex;
      display: flex;
      height: 60px;
      line-height: 60px;
      padding: 0 14px;
      position: relative;
      transition: background 0.3s ease; }
      .cd-nav .menu > li > a:before,
      .cd-nav .menu > li > button:before {
        bottom: -2px;
        content: '';
        background: transparent;
        height: 4px;
        left: -1px;
        position: absolute;
        right: -1px;
        transition: background 0.3s ease;
        width: calc(100% + 2px); }
      .cd-nav .menu > li > a:hover, .cd-nav .menu > li > a:focus,
      .cd-nav .menu > li > button:hover,
      .cd-nav .menu > li > button:focus {
        background: #E6ECF1; }
      .cd-nav .menu > li > a.active:before, .cd-nav .menu > li > a:focus:before,
      .cd-nav .menu > li > button.active:before,
      .cd-nav .menu > li > button:focus:before {
        background: #EB5C6D; }
  .cd-nav .menu .menu {
    background: #E6ECF1;
    left: -1px;
    margin: 0;
    max-width: 300px;
    min-width: 200px;
    padding: 20px 0;
    top: 60px;
    position: absolute; }
    .cd-nav .menu .menu .active:before {
      content: none; }
    .cd-nav .menu .menu li {
      border: none;
      float: none; }
      .cd-nav .menu .menu li.open {
        background: #D3DDE5; }
    .cd-nav .menu .menu a {
      height: auto;
      line-height: 1.2;
      padding: 15px 30px; }
      .cd-nav .menu .menu a:hover, .cd-nav .menu .menu a:focus {
        background: #D3DDE5; }
    .cd-nav .menu .menu .menu {
      background: #D3DDE5;
      left: auto;
      padding: 0;
      position: relative;
      top: auto; }
      .cd-nav .menu .menu .menu a:hover, .cd-nav .menu .menu .menu a:focus {
        background: #c3d1dc; } }

/**
 * Common Design Search form in header.
 */
.cd-search {
  float: left; }

.cd-search_btn {
  -webkit-align-items: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-left: 1px solid #E6ECF1;
  color: #026CB6;
  display: -webkit-flex;
  display: flex;
  font-size: 24px;
  height: 60px;
  padding: 0 20px;
  transition: background 0.3s ease; }
  .open .cd-search_btn {
    color: #EB5C6D;
    position: relative; }
    .open .cd-search_btn:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent #E6ECF1 transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -6px; }
  .cd-search_btn:hover, .cd-search_btn:focus {
    background: #E6ECF1;
    outline: none; }

.cd-search__form {
  background: #E6ECF1;
  display: none;
  height: 60px;
  left: 8px;
  position: absolute;
  right: 8px;
  z-index: 1; }
  .open .cd-search__form {
    display: block; }
  .cd-search__form input[type='search'] {
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #4A4A4A;
    font-size: 16px;
    font-size: 1rem;
    height: 60px;
    padding: 0 45px 0 25px;
    width: 100%; }
  .cd-search__form form {
    padding: 0 12px; }
    .cd-search__form form:before {
      color: #026CB6;
      content: '\e919';
      display: block;
      font-family: 'unocha-icons';
      font-size: 18px;
      height: 18px;
      left: 12px;
      line-height: 18px;
      margin-top: -9px;
      position: absolute;
      top: 50%;
      width: 18px; }
  .cd-search__form .form-item,
  .cd-search__form .form-actions {
    margin: 0; }

input[type='search']::-webkit-input-placeholder {
  color: #026CB6;
  font-style: italic; }

input[type='search']::-moz-placeholder {
  color: #026CB6;
  font-style: italic; }

input[type='search']:-ms-input-placeholder {
  color: #026CB6;
  font-style: italic; }

input[type='search']:-moz-placeholder {
  color: #026CB6;
  font-style: italic; }

.cd-search__submit {
  -webkit-align-items: center;
  align-items: center;
  background: none;
  border: 0;
  color: #026CB6;
  display: -webkit-flex;
  display: flex;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  margin: -14px 0 0 0;
  padding: 0;
  position: absolute;
  right: 12px;
  text-transform: uppercase;
  top: 50%; }

@media (min-width: 768px) {
  .cd-search__form form {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 24px;
    position: relative; }
    .cd-search__form form:before {
      left: 24px; }
  .cd-search__input {
    padding: 0 60px 0 30px; }
  .cd-search__submit {
    right: 24px; } }

@media (min-width: 1200px) {
  .cd-search__form form {
    padding: 0 40px; }
    .cd-search__form form:before {
      left: 40px; }
  .cd-search__submit {
    right: 40px; } }

/**
 * Common Design Sites Menu ('OCHA Services')
 * Button and dropdown with links to OCHA services.
 */
.cd-sites {
  float: left; }

.cd-sites-btn {
  -webkit-align-items: center;
  align-items: center;
  background: transparent;
  color: white;
  display: -webkit-flex;
  display: flex;
  font-size: 12px;
  font-size: 0.75rem;
  height: 35px;
  position: relative;
  transition: background 0.3s ease; }
  .cd-sites-btn:focus {
    outline: 0; }

.cd-sites-btn__logo {
  background: url("../images/logos-sprite.svg") 0 -144px no-repeat;
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 18px;
  margin-right: 4px;
  width: 21px; }
  .no-svg .cd-sites-btn__logo {
    background: url("../images/logos-sprite.png") 0 -144px no-repeat; }

.cd-sites-btn__label {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.cd-sites-dropdown {
  padding: 22px 14px;
  width: 100%; }
  .cd-sites-dropdown ul {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0; }
    .cd-sites-dropdown ul:last-child {
      margin-bottom: 0; }
  .cd-sites-dropdown li {
    display: block;
    margin-bottom: 12px; }
    .cd-sites-dropdown li:last-child {
      margin-bottom: 0; }

.cd-sites-dropdown__section {
  margin-bottom: 40px; }
  .cd-sites-dropdown__section:last-of-type {
    margin-bottom: 0; }

.cd-sites-dropdown__heading {
  border-bottom: 1px solid #9EC5E2;
  margin: 0 0 10px 0;
  padding-bottom: 2px; }

.cd-sites-dropdown__link {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  text-decoration: none; }
  .cd-sites-dropdown__link:hover .cd-sites-dropdown__link-label, .cd-sites-dropdown__link:focus .cd-sites-dropdown__link-label {
    border-color: #80CBFF; }

.cd-sites-dropdown__link-label {
  border-bottom: 1px solid transparent; }

.cd-sites-dropdown__logo {
  background: url("../images/logos-sprite.svg") 0 0 no-repeat;
  display: inline-block;
  height: 18px;
  margin-left: 24px;
  position: relative;
  width: 82px; }
  .no-svg .cd-sites-dropdown__logo {
    background: url("../images/logos-sprite.png") 0 0 no-repeat; }
  .cd-sites-dropdown__logo:before {
    color: #9EC5E2;
    content: '|';
    left: -12px;
    position: absolute;
    top: 2px; }

.cd-sites-dropdown__logo--cerf {
  background-position: 0 -18px; }

.cd-sites-dropdown__logo--fts {
  background-position: 0 -36px; }

.cd-sites-dropdown__logo--events {
  background-position: 0 -54px; }

.cd-sites-dropdown__logo--hid {
  background-position: 0 -72px; }

.cd-sites-dropdown__logo--hrinfo {
  background-position: 0 -90px; }

.cd-sites-dropdown__logo--vosocc {
  background-position: 0 -108px; }

.cd-sites-dropdown__logo--iasc {
  background-position: 0 -126px; }

.cd-sites-dropdown__logo--ocha {
  background-position: 0 -144px; }

.cd-sites-dropdown__logo--rw {
  background-position: 0 -162px; }

@media (min-width: 768px) {
  .cd-sites-btn {
    display: -webkit-flex;
    display: flex;
    width: auto; }
    .cd-sites-btn:hover .cd-sites-btn__label, .cd-sites-btn:focus .cd-sites-btn__label {
      text-decoration: underline;
      -webkit-text-decoration-color: #80CBFF;
      text-decoration-color: #80CBFF; }
  .cd-sites-btn__label {
    height: auto;
    margin: 0;
    position: static;
    width: auto;
    margin-right: 4px; }
  .cd-sites-btn__logo {
    margin-right: 8px; }
  .cd-sites-dropdown {
    padding: 26px 0; }
    .cd-sites-dropdown:before {
      left: 80px; }
    .cd-sites-dropdown ul {
      margin: 0 0 26px 0; }
  .cd-sites-dropdown__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 12px 1fr 12px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 24px; }
  .cd-sites-dropdown__section {
    margin: 0; }
    .cd-sites-dropdown__section:nth-child(2) {
      -ms-grid-column: 3; }
    .cd-sites-dropdown__section:nth-child(3) {
      -ms-grid-column: 5; } }

@media (min-width: 1200px) {
  .cd-sites-dropdown__inner {
    -ms-grid-columns: 1fr 120px 1fr 120px 1fr;
    grid-gap: 120px;
    padding: 0 40px; } }

/**
 * Common Design Header User Menu
 * Includes user centered settings and/or actions.
 */
.cd-user-menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0; }
  .cd-user-menu h2 {
    display: none; }
  .cd-user-menu .menu {
    margin: 0; }
    .cd-user-menu .menu li {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative; }
      .cd-user-menu .menu li:after {
        color: #9EC5E2;
        content: '|';
        position: absolute;
        right: -1px;
        top: 8px; }
      .cd-user-menu .menu li:last-child a {
        padding-right: 0; }
      .cd-user-menu .menu li:last-child:after {
        content: none; }
      .cd-user-menu .menu li.has-icon:before {
        content: "\e955";
        font-family: 'unocha-icons';
        font-size: 14px;
        left: 10px;
        position: absolute;
        top: 7px;
        vertical-align: text-top; }
      .cd-user-menu .menu li.has-icon > a {
        padding-left: 28px; }
      .cd-user-menu .menu li.has-icon.has-icon--mobile-only > a {
        text-indent: -99999px; }
    .cd-user-menu .menu .menu {
      left: auto;
      right: 0;
      list-style: none;
      margin: 0;
      width: 125px;
      padding: 12px 24px; }
      .cd-user-menu .menu .menu li {
        display: block;
        float: none; }
        .cd-user-menu .menu .menu li:after {
          content: none; }
      .cd-user-menu .menu .menu a {
        height: auto;
        line-height: 1.2;
        padding: 12px 0; }
        .cd-user-menu .menu .menu a.active {
          font-weight: bold;
          padding-right: 12px;
          position: relative; }
          .cd-user-menu .menu .menu a.active:after {
            color: #80CBFF;
            content: "\e944";
            font-family: 'unocha-icons';
            position: absolute;
            right: 0;
            top: auto; }
    .cd-user-menu .menu a {
      background: transparent;
      color: white;
      display: block;
      height: 35px;
      line-height: 35px;
      max-width: 90px;
      overflow: hidden;
      padding: 0 12px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      transition: background 0.3s ease;
      white-space: nowrap; }
      .cd-user-menu .menu a:hover, .cd-user-menu .menu a:focus {
        text-decoration: underline;
        -webkit-text-decoration-color: #80CBFF;
        text-decoration-color: #80CBFF; }
      .cd-user-menu .menu a:focus {
        outline: 0;
        background: #025995; }

@media (min-width: 768px) {
  .cd-user-menu .menu li.has-icon.has-icon--mobile-only a {
    text-indent: 0; }
  .cd-user-menu .menu a {
    max-width: none;
    padding: 0 16px; }
  button.cd-user-menu__item {
    padding-right: 30px; }
    button.cd-user-menu__item .icon-arrow-down {
      right: 16px; }
  .cd-user-menu__item--small {
    max-width: 70px; }
    .cd-user-menu__item--small .cd-user-menu__dropdown {
      left: 30px; } }

/**
 * Common Design Layout styles.
 */
html {
  background: #F2F2F2;
  height: 100%;
  margin: 0;
  margin-left: calc(100vw - 100%);
  padding: 0 8px; }

body {
  background: #FFF;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto; }

.cd-header,
.cd-footer {
  font-size: 12px;
  font-size: 0.75rem; }
  .cd-header p,
  .cd-header ul,
  .cd-footer p,
  .cd-footer ul {
    font-size: 12px;
    font-size: 0.75rem; }

.cd-container {
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0 auto;
  max-width: 1220px; }
  .cd-container:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 768px) {
  .cd-container {
    padding: 0 24px; } }

@media (min-width: 1200px) {
  .cd-container {
    padding: 0 40px; } }
