/**
 * Common Design Layout styles.
 */

html {
  background: $site-bg-color;
  height: 100%;
  margin: 0;
  margin-left: calc(100vw - 100%); //prevents scrollbar changing page width in IE.
  padding: 0 $site-padding;
}

body {
  background: $white-bg-color;
  margin: 0 auto;
  max-width: $max-body-width;
  min-height: 100%;
  padding: 0;

  // Grid is used to fix the footer to the bottom of the screen, regardless of page min-height.
  // Just for CSS grid supporting browsers as IE fallback causes weirdness here.
  display: grid;
  grid-template-rows: 1fr auto;
}

.cd-header,
.cd-footer {
  @include font-size($tiny-font-size);

  p,
  ul {
    @include font-size($tiny-font-size);
  }
}

.cd-container {
  @include clearfix;
  box-sizing: border-box;
  padding: 0 $container-padding;
  margin: 0 auto;
  max-width: $max-width;
}

@include media-query(md) {

  .cd-container {
    padding: 0 $container-padding-tablet;
  }

}

@include media-query(xl) {

  .cd-container {
    padding: 0 $container-padding-largescreen;
  }

}
