/**
 * Common Design Navigation in header.
 */

.cd-site-header__nav-holder {
  float: left;
}

.cd-site-header__nav-toggle {
  background: transparent;
  border: 0;
  border-left: 1px solid $border-color;
  @include font-size($small-font-size);
  font-weight: bold;
  height: $site-header-height;
  padding: 0 20px;
  text-transform: uppercase;
  transition: background 0.3s ease;

  .open & {
    border: none;
    height: 20px;
    margin: 15px 12px 0 0;
    padding: 0;
    position: relative;
    z-index: map-get($zindex, dropdown);
  }

  &:hover,
  &:focus {
    background: $mid-bg-color;
    outline: none; // default browser outline is replaced by background colour change.
  }
}

.cd-site-header__nav-label--closed {
  .open & {
    display: none;
  }
}

.cd-site-header__nav-label--open {
  display: none;

  .open & {
    display: block;
    font-size: 20px;
  }
}

.cd-nav {
  background: $mid-bg-color;
  height: calc(100vh - 35px);
  max-width: 350px;
  padding: 40px 0 36px 0;
  position: absolute;
  right: $site-padding;
  top: $global-header-height;
  width: 90%;
  z-index: map-get($zindex, dropdown);

  ul {
    margin: 0;
  }

  .menu {
    li {
      list-style: none;
      margin: 0;
      padding: 0;

      &.open {
        background: $dark-bg-color;
      }

      & > a,
      & > button {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    // Child nav
    .menu {
      a,
      button {
        color: $dark-text-color;
        font-weight: normal;
        text-transform: none;

        &:hover,
        &:focus {
          background: darken($dark-bg-color, 5%);
        }
      }

      // Grandchild nav
      .menu {
        padding-bottom: 5px;

        a,
        button {
          padding: 10px 30px;
        }
      }
    }
  }

  a,
  button {
    color: $default-text-color;
    display: block;
    padding: 15px 30px;
    text-decoration: none;

    &.active {
      color: $default-text-color;
    }

    &:hover,
    &:focus {
      background: $dark-bg-color;
      color: $dark-text-color;
      outline: none; // default browser outline is replaced by background colour change.
    }
  }

  button {
    background: none;
    border: 0;
    @include font-size($tiny-font-size);
    text-align: left;
    width: 100%;
  }
}

// Fix nav position in IE 8.
.no-mediaqueries {
  .cd-site-header__nav-holder {
    position: relative;
  }

  .cd-nav {
    right: 0;
    top: $site-header-height;
    width: 300px;
  }
}

@include media-query(md) {

  .cd-site-header__nav-toggle {
    border-right: 1px solid $border-color;

    .open & {
      margin-right: 0;
    }
  }
}

@include media-query(lg) {

  .cd-site-header__nav-toggle {
    display: none;
  }

  .cd-nav {
    background: none;
    display: block;
    height: $site-header-height;
    max-width: none;
    padding: 0;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
    z-index: map-get($zindex, default);
  }

  .cd-nav .menu {
    & > li {
      border-right: 1px solid $border-color;
      float: left;
      margin: 0;

      &:first-child {
        border-left: 1px solid $border-color;
      }

      &:last-child {
        & > .menu {
          left: auto;
          right: -1px;
        }
      }

      &.open {
        position: relative;
        background: $mid-bg-color;

        & > a,
        & > button {
          &.active,
          &:focus {
            &:before {
              background: transparent;
            }
          }
        }
      }


      & > a,
      & > button {
        align-items: center;
        background: transparent;
        display: flex;
        height: $site-header-height;
        line-height: $site-header-height;
        padding: 0 14px;
        position: relative;
        transition: background 0.3s ease;

        &:before {
          bottom: -2px;
          content: '';
          background: transparent;
          height: 4px;
          left: -1px;
          position: absolute;
          right: -1px;
          transition: background 0.3s ease;
          width: calc(100% + 2px);
        }

        &:hover,
        &:focus {
          background: $mid-bg-color;
        }

        &.active,
        &:focus {
          &:before {
            background: $highlight-red;
          }
        }
      }

    }

    // Child nav
    .menu {
      background: $mid-bg-color;
      left: -1px;
      margin: 0;
      max-width: 300px;
      min-width: 200px;
      padding: 20px 0;
      top: $site-header-height;
      position: absolute;

      .active {
        &:before {
          content: none;
        }
      }

      li {
        border: none;
        float: none;

        &.open {
          background: $dark-bg-color;
        }
      }

      a {
        height: auto;
        line-height: 1.2;
        padding: 15px 30px;

        &:hover,
        &:focus {
          background: $dark-bg-color;
        }
      }

      // Grandchild nav
      .menu {
        background: $dark-bg-color;
        left: auto;
        padding: 0;
        position: relative;
        top: auto;

        a {
          &:hover,
          &:focus {
            background: darken($dark-bg-color, 5%);
          }
        }

      }
    }
  }

}
