/**
 * Common Header Search styles
 */

.cd-site-header__search {
  height: 100%;
  min-width: 180px;
  margin-right: auto;

  .no-flexbox & {
    float: left;
  }

  form {
    position: relative;

    .no-svg & {
      label {
        position: absolute;
        left: -999999px;
      }
    }
  }

  .form-item {
    display: block;
    margin: 0;
  }

  input[type="search"] {
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: none;
    box-shadow: none;
    -webkit-appearance: none;
    @include font-size($base-font-size);
    padding: $base-unit*1.5 $base-unit*1.5 $base-unit*1.5 $base-unit*3.5;
    width: 96%;
    height: $cd-site-header-height-xs + 2;
    background: transparent;
    transition: background 0.3s ease, border 0.3s ease;
    color: $body-text-color;

    &:focus {
      outline: none;
      background: $cd-nav-focus-bg;
      border-color: $cd-highlight-color;
    }

    .no-svg & {
      border: 1px solid $border-color;
    }
  }

  .form-actions {
    margin: 0;
    position: absolute;
    left: $base-unit/2;
    top: 50%;
    margin-top: -$base-unit*1.25;
    width: $base-unit*2.5;
    height: $base-unit*2.5;
  }

  ::-webkit-input-placeholder {
    color: $body-text-color;
    font-style: italic;
    font-weight: 300;
  }
  ::-moz-placeholder {
    color: $body-text-color;
    font-style: italic;
    font-weight: 300;
  }
  :-ms-input-placeholder {
    color: $body-text-color;
    font-style: italic;
    font-weight: 300;
  }
  :-moz-placeholder {
    color: $body-text-color;
    font-style: italic;
    font-weight: 300;
  }
}

.cd-header-search__button {
  width: $base-unit*2.5;
  height: $base-unit*2.5;
  line-height: $base-unit*2.5;
  padding: 0;

  &:focus {
    outline: none;
    background: $primary-bg-color;

    &:before {
      color: white;
    }
  }

  &:before {
    content: "\e919";
    font-family: 'unocha-icons';
    font-size: 18px;
    font-weight: bold;
    color: $heading-text-color;
  }
}

@include media-query(md) {

  .cd-site-header__search {
    min-width: 300px;

    input[type="search"] {
      height: $cd-site-header-height-md + 2;
    }

    .no-flexbox & {
      height: $cd-site-header-height-md;
    }
  }
}
