/**
 * Common Design Header Layout and generic styles.
 */

.cd-header {
  margin-bottom: $base-unit * 2;
}

.cd-footer {
  margin-top: $base-unit * 2;
}

/**
 * Global Header.
 * Top header bar, contains Sites Menu ('OCHA Services') and User Menu.
 */
.cd-global-header {
  background: $primary-bg-color;
  background-image: linear-gradient(-180deg, $primary-bg-color 67%, $dark-primary-bg-color 97%);
  color: $white-text-color;
  height: $global-header-height;
  position: relative;

  button {
    border: 0;
  }
}

/**
 * Site Header.
 * Bottom header bar, contains Logo, Search and Navigation.
 */
.cd-site-header {
  border-bottom: 2px solid $border-color;
  color: $default-text-color;
}

.cd-site-header__inner {
  height: $site-header-height;
}

.cd-site-header__actions {
  float: right;
  margin-right: -$container-padding;
}

@include media-query(md) {

  .cd-site-header__actions {
    margin-right: 0;
  }

}
