/**
 * Common Design Header Dropdowns generic styles.
 */

.cd-dropdown {
  display: none;
  .open > & {
    display: block;
    z-index: map-get($zindex, dropdown);
  }
}

.open {
  & > [data-toggle="dropdown"] {
    & > .icon-arrow-down {
      &:before {
        content: "\e957"
      }
    }
  }
}

/**
 * Dropdown styles for nested drupal menus.
 */
.cd-header {
  .menu {
    .expanded {

      // Hide child nav
      & > .menu {
        display: none;
      }

      // Add down arrow
      & > a,
      & > button {
        &:after {
          content: '\e958';
          display: inline-block;
          font-family: 'unocha-icons';
          margin-left: 4px;
        }
      }

      &.open {

        & > .menu {
          display: block;
          z-index: map-get($zindex, dropdown);
        }

        // Change to up arrow
        & > a,
        & > button {
          &:after {
            content: '\e957';
          }
        }
      }
    }
  }
}

/**
 * Global header specific dropdown styles.
 */
.cd-global-header__dropdown,
.cd-user-menu .menu .menu {
  background: $primary-bg-color;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.30);
  left: 0;
  position: absolute;

  a {
    color: $white-text-color;
  }
}

.cd-global-header__dropdown-btn,
.cd-user-menu li {
  .open &,
  &.open {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 6px;
      border-color: transparent transparent $primary-bg-color transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -6px;
    }
  }
}
