//——————————————————————————————————————————————————————————————————————————————
// Common Design: Language Switcher
//——————————————————————————————————————————————————————————————————————————————

.cd-language-switcher {

}

// Language switcher button
#cd-language-toggle {
  font-weight: 600;
  padding-right: 14px;
  display: flex;
  align-items: center;
  box-sizing: content-box;

  // Lanaguage switcher is always on the far edge of the global header.
  // Cancel the border that we render for other elements.
  &::after {
    content: none;
  }

  // Place toggle indicator on edge of Global Header
  .icon-arrow-down {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @include tablet {
    padding-right: 30px;

    .icon-arrow-down {
      right: 16px;
    }
  }

  // Place toggle indicator on edge of Global Header
  .arrow-down {
    position: absolute;
    right: 0;
    min-height: 100%; // IE11 fix.

    @include tablet {
      right: 16px;
    }
  }
}

// Language switcher dropdown
#cd-language-dropdown {
  // Add active icon to the active language option
  li {
    &::after {
      content: none;
    }

    &.active::after {
      position: absolute;
      right: 0;
      content: "";
      width: 14px;
      height: 14px;
      background-image: url(../img/icons/check.svg);
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: 14px 14px;
    }
  }
}

#cd-language {
  right: $cd-container-padding;

  @include xl {
    right: 50px;
  }

  li a {
    @extend .cd-user-menu__dropdown-link;
  }
}
