//——————————————————————————————————————————————————————————————————————————————
// Common Design: Footer menu
//
// Used for team and project specific links plus links to legalese.
//——————————————————————————————————————————————————————————————————————————————

.cd-footer-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;

  @include tablet {
    flex: 1 0 100%;
  }
  @include desktop {
    text-align: left;
    flex: 1 0 70%;
  }
}

.cd-footer-menu__item {
  margin-bottom: 20px;

  @include tablet {
    display: inline-block;
    margin: 0 16px 8px;
  }
  @include desktop {
    margin: 0 35px 8px 0;
  }
}


//——————————————————————————————————————————————————————————————————————————————
// Drupal selectors
//——————————————————————————————————————————————————————————————————————————————

// Visually hide default Block Title
.region-footer-navigation .block-menu h2 {
  @extend .element-invisible;
}

// Apply Menu container styles to Drupal Menu
.region-footer-navigation .menu {
  @extend .cd-footer-menu;
}

// Apple Menu item styles to Drpual Menu items
.region-footer-navigation .menu > li {
  @extend .cd-footer-menu__item;
}
