//——————————————————————————————————————————————————————————————————————————————
// Common Design: Footer
//——————————————————————————————————————————————————————————————————————————————

.cd-footer {
  grid-row: 3/3; // Position footer so visible on short pages.
  background: $cd-primary-bg-color;
  color: $cd-white-text-color;
  padding: 48px 0 0 0;
  text-align: center;
  line-height: 1.5;

  a {
    border-bottom: 1px solid transparent;
    color: $cd-white-text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $cd-white;
      border-color: $cd-bright-border-color;
    }
  }

  @include desktop {
    padding-bottom: 0;
  }
}

.cd-footer__inner {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.cd-footer__section {
  padding-bottom: 48px;

  // When we know a section contains no content, we can set an empty variant
  // to collapse it to zero-height which helps especially on mobile, without
  // disrupting the layout on larger viewport widths.
  &--empty {
    padding-bottom: 0;
  }
}
