/**
 * Form styles
 */

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
textarea {
  @include font-size($base-font-size);
  padding: $base-unit;
  border: 1px solid #ccc;
  max-width: 100%;
  color: $default-text-color;
}

label {
  font-weight: bold;
  display: block;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: $error-border-color;
}
