/**
 * Icons styles
 * See readme for info
 */

@font-face {
  font-family: 'unocha-icons';
  src:  url('../icons/unocha-icons.eot?jb5mn9');
  src:  url('../icons/unocha-icons.eot?jb5mn9#iefix') format('embedded-opentype'),
    url('../icons/unocha-icons.ttf?jb5mn9') format('truetype'),
    url('../icons/unocha-icons.woff?jb5mn9') format('woff'),
    url('../icons/unocha-icons.svg?jb5mn9#unocha-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'unocha-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-creative-commons:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e957";
}
.icon-arrow-down:before {
  content: "\e958";
}
.icon-arrow-right:before {
  content: "\e94f";
}
.icon-user:before {
  content: "\e955";
}
.icon-check:before {
  content: "\e944";
}
.icon-cancel:before {
  content: "\e94a";
}
.icon-search:before {
  content: "\e919";
}
