/**
 * Skip link styles
 */

a.skip-link {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
	@include font-size($tiny-font-size);

	&:focus {
		height: auto;
    position: static;
    clip: auto;
    overflow: visible;
	}
}
