/**
 * Colours
 *
 * Based on the OCHA colour palette, see https://www.unocha.org/sites/unocha/files/dms/Documents/GraphicsStyleBook_for_public.pdf
 */

// Colour palette
$ocha-blue: #026CB6;
$dark-blue: #025995;
$bright-blue: #80CBFF;
$light-blue: #9EC5E2;
$light-grey: #F2F2F2;

$dark-grey: #4A4A4A;
$dark-bluey-grey: #D3DDE5;
$mid-bluey-grey: #E6ECF1;
$light-bluey-grey: #F2F5F8;
$highlight-red: #EB5C6D;

// Background colors
$light-bg-color: $light-grey;
$primary-bg-color: $ocha-blue;
$dark-primary-bg-color: $dark-blue;
$site-bg-color: $light-grey;
$white-bg-color: #FFF;
$dark-bg-color: $dark-bluey-grey;
$mid-bg-color: $mid-bluey-grey;
$light-bg-color: $light-bluey-grey;

// Border colours
$border-color: $mid-bluey-grey;
$bright-border-color: $bright-blue;
$light-blue-border-color: $light-blue;
$cd-white-border: #FFF;
$error-border-color: $highlight-red;
$light-border-color: $light-grey;

// Text colours
$default-text-color: $dark-grey;
$heading-text-color: $ocha-blue;
$secondary-heading-text-color: $dark-blue;
$white-text-color: white;
$link-text-color: $dark-blue;
$active-link-text-color: $ocha-blue;
$error-text-color: $highlight-red;
$dark-text-color: #000;
$bright-blue-text-color: $bright-blue;
