/**
 * Measurements
 */

$base-unit: 8px;
$max-width: 1200px;

// Footer
$footer-height-xs: 280px;
$footer-height-md: 230px;

// Header
$cd-global-header-height: $base-unit*5;
$cd-site-header-height-xs: $base-unit*6;
$cd-site-header-height-md: $base-unit*7.5;


