/**
 * Measurements
 */

$base-unit: 8px;
$max-width: 1220px;
$max-body-width: 1400px;
$site-padding: 8px;
$container-padding: 12px;
$container-padding-tablet: 24px;
$container-padding-largescreen: 40px;
$global-header-height: 35px;
$site-header-height: 60px;
